name: Publish

on:
  workflow_dispatch:
    inputs:
      dry_run:
        type: boolean
        description: "DryRun release"
        required: true
        default: false
      push_tags:
        type: boolean
        description: "Push tags to repository"
        required: true
        default: true

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write # Required for OIDC token exchange
      contents: write # Required for writing contents for tags
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
      id: auth
    - run: cargo publish -vv ${{ inputs.dry_run && '--dry-run' || '' }}
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
    - if: ${{ inputs.push_tags }}
      run: |
        PUBLISHED_VERSION=$(cargo metadata --format-version=1 --no-deps | jq -r '.packages[0].version')
        git config --global --add safe.directory /github/workspace
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git status
        git tag "$PUBLISHED_VERSION" -m "$PUBLISHED_VERSION"
        git push origin --follow-tags
